<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SAUPORT Perculus Rapor</title>
	@*@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")*@
	<link rel="stylesheet" href="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/css/bootstrap.css" />
	<link rel="stylesheet" href="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/css/font-awesome.css" />
	<link rel="stylesheet" href="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/css/ace-fonts.css" />
	<link rel="stylesheet" href="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/css/ace.css" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/css/ace-part2.css" />
	<![endif]-->
	<link rel="stylesheet" href="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/css/ace-skins.css" />
	<link rel="stylesheet" href="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/css/ace-rtl.css" />
	<!--[if lte IE 9]>
	  <link rel="stylesheet" href="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/css/ace-ie.css" />
	<![endif]-->

	<script src="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/ace-extra.js"></script>
	<!--[if lte IE 8]>
	<script src="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/html5shiv.js" ></script>
	<script src="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/respond.js" ></script>
	<![endif]-->



	@*<link rel="stylesheet" href="~/Content/font-awesome-4.4.0/css/font-awesome.css"  />
	<link rel="stylesheet" href="~/Content/Site.css" />*@
	
	<style>
		body:before {
			background-color: #f2f2f2;
		}
        
	</style>

</head>
<body style="background-color:white;padding:3px;">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand brandElement" >
                    <img src="~/Content/header-logo2.png" style="padding-top:4px;" /></a>
            </div>
        </div>
    </div><br/><br/><br />
    	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - SAUPORT</p>
		</footer>
	</div>
	<!--[if !IE]>
		<script type="text/javascript">
			window.jQuery || document.write("<script src='http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/jquery.js'>" + "<" + "/script>");
		</script>
	<!-- <![endif]-->
	<!--[if IE]>
		<script type="text/javascript">
			window.jQuery || document.write("<script src='http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/jquery1x.js'>"+"<"+"/script>");
		</script>
	<![endif]-->
	<script src="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/jquery.js"></script>
	<script type="text/javascript">
	if ('ontouchstart' in document.documentElement) document.write("<script src='http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/query.mobile.custom.js'>" + "<" + "/script>");
	</script>
	<script src="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/bootstrap.js"></script>
	<!-- page specific plugin scripts -->
	<!--[if lte IE 8]>
			  <script src="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/excanvas.min.js"></script>
	<![endif]-->

	<!-- ace scripts -->
	<script src="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/ace-elements.js"></script>
	<script src="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/ace.js"></script>
	<script src="http://cdn.lms.sabis.sakarya.edu.tr/Content/ace/v1.3.3/assets/js/bootbox.js"></script>
	<script type="text/javascript"> ace.vars['base'] = '..'; </script>



	@RenderSection("scripts", required: false)
</body>
</html>
